.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}

.textBox {
    padding: 20px 30px;
    background: rgb(15, 181, 34);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.leftContainer {
    left: 0;
}

.rightContainer {
    left: 50%;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .textBox{
        font-size: 13px;
    }
    .rightContainer{
        left: 0;
    }
}

